html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: whitesmoke;
  background-color: #0f172a;

  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: center;  
}

body {
  margin: 0 auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

body {
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif
}

.header {
  text-align: center
}

.header .site-title {
  font-size: 50px;
  display: block;
  line-height: 1;
}

@media only screen and (min-width:550px) {
  .header .site-title {
      margin: 0;
      font-size: 100px
  }
}

.header .site-description {
  font-size: 20px;
  display: block;
  line-height: 1;
  margin-top: 10px
}

@media only screen and (min-width:550px) {
  .header .site-description {
      font-size: 40px
  }
}

.training-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 16px;
}

.training-card {
  display: inline-flex;
  flex-flow: column;
  height: 100%;
  padding: 0.5em 1em;
  border-radius: 0.4rem;
  // box-shadow: 0px 0px 3px white;
  background-color: #1e293b;
}

.training-card:hover{
  background-color: #1a2536;
}

.training-cards > a {
  color: whitesmoke;
  text-decoration:none;
}

.card-name:hover {
  text-decoration: underline;
}

.card-info {
  flex: 1 1 auto;
}

.card-price  {
  margin-left: auto;
  font-weight: bold;
}

#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px
}